
<h3 class="text-center">View my posts</h3>


<!-- *ngFor/ string interpolation-->


<br>
<div class="container">

    <div class="row">
        <div class="col-4">
            <a routerLink="/add-post" class="btn btn-primary">Add Post</a>
        </div>
    </div>

    <div *ngFor="let post of posts">

        <div class="card">

            <div class="card-body">

                <h5 class="card-title">
                    {{ post.title }}
                </h5>
                <p class="card-text">
                    {{ post.description }}
                </p>
                <a routerLink="/edit-post/{{post.id}}" class="btn btn-warning">View Post</a>

                <button (click)="deletedPost(post.id)" class="btn btn-danger">Delete</button>

            </div>

        </div>
    
    </div>
</div>
    


