<div class="container mt-5">

    <div class="row">
        
        <form (ngSubmit)="savedPost()">
            <div class="col-6">    
                <div class="form-group">
                <input type="text" class="" placeholder="Enter title" name="title" [(ngModel)]="newPost.title">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group ">
                <input type="text" class="" placeholder="What are your thoughts" name="description" [(ngModel)]="newPost.description">
                </div>
            </div>

                <button type="submit" class="btn btn-success">
                Enter my thoughts!
                </button>
                <button (click)="deletedPost(newPost.id)" class="btn btn-danger">Delete</button>

               

        </form>
        


    </div>

</div>
